<div class="alert alert-danger" ng-show="controller.error">
    There was a problem logging in. Please try again.
</div>
<div>
    To log in with your google account, we need a login token that can be found <a href="" ng-click="controller.getAPICode()">here</a><br/>
    Then insert the token in the form below.
</div>
<form role="form" ng-submit="controller.login()">
    <div class="form-group">
        <label for="token">Token:</label> <input type="text"
                                                       class="form-control" id="token" name="token" ng-model="controller.credentials.token"/>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>